<?php
////////////////////////////////////
//
//	settings.inc.php
//
//	Settings for the scripts.
//
//
////////////////////////////////////

define("TITLE","");
define("COUNT",50);
define("TIMEZONE","America/Chicago");
//////////Mysql Settings//////////////
define("MYSQL_HOST","");
define("MYSQL_USER","");
define("MYSQL_PASSWORD","");
define("MYSQL_DATABASE","");
define("APACHE_LOG","");
define("DEBUG",FALSE);

?>
