<style>
{{ css }}
</style>
<div class='container-fluid'><div class='col-sm-12 col-md-12 col-lg-12 col-xl-12'>
<p><br>Hi,</p>

<p>Below are the list of files downloaded and uploaded on {{ date_downloaded }}.  
<br>You can view the log by going to <a href='{{ website_url }}'>{{ website_url }}</a></p>

<h3 class='text-primary'>Downloads</h3>
<table class='table table-bordered table-sm table-stripped'>
<thead >
<th>Time</th><th>Remote IP</th><th>Remote Hostname</th><th>Email</th><th>Filename</th><th>Success</th>
</thead>
<tbody>
{% for row in download_log_table %}
	<tr>
	<td> {{ row.time_access }} </td>
	<td> {{ row.remote_ip }} </td>
	<td> {{ row.remote_hostname }} </td>
	<td> {{ row.email }} </td>
	<td> {{ row.filename }} </td>
	{% if row.success %}
		<td><span class='badge badge-pill badge-success'>Success</span></td>
	{% else %}
		<td><span class='badge badge-pill badge-danger'>Failure</span></td>
	{% endif %}
	</tr>

{% endfor %}
</tbody>
</table>

<h3 class='text-primary'>Uploads</h3>
<table class='table table-bordered table-sm table-stripped'>
<thead >
<th>Time</th><th>Remote IP</th><th>Remote Hostname</th><th>Filename</th><th>Success</th>
</thead>
<tbody>
{% for row in upload_log_table %}
        <tr>
        <td> {{ row.time_access }} </td>
        <td> {{ row.remote_ip }} </td>
        <td> {{ row.remote_hostname }} </td>
        <td> {{ row.filename }} </td>
        {% if row.success %}
                <td><span class='badge badge-pill badge-success'>Success</span></td>
        {% else %}
                <td><span class='badge badge-pill badge-danger'>Failure</span></td>
        {% endif %}
        </tr>

{% endfor %}
</tbody>
</table>

</div>

