<style>
{{ css }}
</style>
<div class='container-fluid'><div class='col-sm-12 col-md-12 col-lg-12 col-xl-12'>
<p><br>Hi,</p>

<p>Below are the list of files downloaded on {{ date_downloaded }}.  
<br>You can view the log by going to <a href='{{ website_url }}'>{{ website_url }}</p>

<table class='table table-bordered table-sm table-stripped'>
<thead >
<th>Time</th><th>Remote IP</th><th>Remote Hostname</th><th>Email</th><Filename</th><th>Success</th>
</thead>
<tbody>
{% for row in log_table %}
	<td> {{ row.time_access }} </td>
	<td> {{ row.remote_ip }} </td>
	<td> {{ row.remote_hostname }} </td>
	<td> {{ row.email }} </td>
	<td> {{ row.filename }} </td>
	<td> {{ row.success }} </td>	

{% endfor %}
</tbody>
</table>
</div>

